#PostgreSQL
POSTGRES_USER=your_name
POSTGRES_PASSWORD=your_pass
POSTGRES_DB=your_db
POSTGRES_HOST=host
POSTGRES_PORT=your_port(5432)

DATABASE_URL="postgresql+asyncpg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}"

# Redis
REDIS_URL=redis://your_container:6379/0

# JWT
JWT_SECRET_KEY=your_secret_key
ALGORITHM=your_algorithm
ACCESS_TOKEN_EXPIRE_MINUTES=your_minutes